<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>首頁</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
</head>
<body>
<div class="ui container">
    <table class="ui celled attached table" style="margin-top: 40px">

        <div class="ui attached segment" style="margin-top: 50px">
            <form th:action="@{/}" method="post" style="display: inline-block;">
                <input type="text" name="name" placeholder="輸入書名查詢">
                <input type="submit" value="搜尋">
            </form>
            <a th:href="@{/add}" class="ui button mini brown" style="margin-left: 800px">新增</a>
        </div>

        <thead>
        <tr>
            <th>id</th>
            <th>author</th>
            <th>description</th>
            <th>name</th>
            <th>status</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books.list}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.name}"></td>
            <td th:switch="${book.status}">
                <span th:case="0">想讀</span>
                <span th:case="1">在讀</span>
                <span th:case="2">已讀</span>
                <span th:case="*">狀態</span>  <!-- *代表默認，前面都沒匹配到就走這個-->
            </td>
            <td>
                <a th:href="@{/update/{id}(id=${book.id})}" class="ui purple basic button">編輯</a>
                <a th:href="@{/delete/{id}(id=${book.id})}" class="ui red basic button">刪除</a>
            </td>

        </tr>
        </tbody>
    </table>

    <div class="ui attached segment">
        <table class="m-mobile-wide" width="425px">
            <tbody>
            <tr align="center">
                <td>
                    <a th:href="@{/(pageNum=${books.pageNum}-1)}" class="ui button basic mini"
                       th:unless="${books.isFirstPage}">上一頁</a>
                </td>
                <td>
                    第
                    <h8 th:text="${books.pageNum}">2</h8>
                    頁/共
                    <h8 th:text="${books.pages}">4</h8>
                    頁
                    共
                    <h8 th:text="${books.total}">28</h8>
                    條
                </td>
                <td>
                    <form name="pageForm" th:action="@{/}" method="get">
                        <div class="ui mini input ">
                            <input type="text" class="m-bg" name="pageNum" placeholder="頁碼"
                                   style="width: 50px!important; height: 27.76px!important;" required>
                            <button type="submit"
                                    style="font-size: 15px!important;width: 30px!important; height: 0px!important; border: none;margin: 5px;padding: 0;"
                                    class="button mini">
                                跳轉
                            </button>
                        </div>
                    </form>
                </td>
                <td> &nbsp;</td>
                <td style="float: right">
                    <a th:href="@{/(pageNum=${books.pageNum}+1)}" class="ui button basic mini " style="float: right;"
                       th:unless="${books.isLastPage}">下一頁</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui success message m-bg" th:unless="${#strings.isEmpty(message)}">
        <i class="close icon"></i>
        <div class="header">顯示: </div>
        <p th:text="${message}"></p>
    </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script>
     $(".message .close").on("click",function(){
         $(this).closest(".message")
                .transition("fade");
    })
</script>
</body>
</html>